doctype html
head
    meta(charset='UTF-8')
    meta(name='viewport' content='width=device-width, initial-scale=1.0')
    meta(name='author' content=strings.app.author)
    title Impostazioni
    link(rel='shortcut icon' href='../assets/images/icon.png' type='image/x-icon')
    link(rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css' integrity='sha512-iBBXm8fW90+nuLcSKlbmrPcLa0OT92xO1BIsZ+ywDWZCvqsWgccV3gFoRBv0z+8dLJgyAHIhR35VZc2oM/gI1w==' crossorigin='anonymous')
    link(rel='stylesheet' href='https://stemkoski.github.io/MathBox/mathbox.css')
    link(rel='stylesheet' href='../assets/css/bootstrap.min.css')
    link(rel='stylesheet' href='../assets/css/style.css')
    link(rel='stylesheet' href='../assets/css/mathsolver.min.css')
body
    img.loading(src='../assets/images/icon.png' alt='')
    #contenuto(style='display: none;')
        .navbar.navbar-expand-lg.fixed-top.navbar-dark.bg-primary
            .container
                a.navbar-brand(href='index.pug')=strings.app.nome
                button.navbar-toggler(type='button' data-bs-toggle='collapse' data-bs-target='#navbarResponsive' aria-controls='navbarResponsive' aria-expanded='false' aria-label='Toggle navigation')
                    span.navbar-toggler-icon
                #navbarResponsive.collapse.navbar-collapse
                    ul.navbar-nav
                        each page in strings.menu
                            if page.subs !== undefined && page.subs !== null
                                li.nav-item.dropdown
                                    a.nav-link.dropdown-toggle(data-bs-toggle='dropdown' href='#' id='menu-' + page.name)
                                        | #{page.name}
                                        span.caret
                                    .dropdown-menu(aria-labelledby='menu-' + page.name)
                                        each sub_page in page.subs
                                            a.dropdown-item(href=sub_page.url)=sub_page.name
                            else
                                li.nav-item
                                    a.nav-link(href=page.url)=page.name
                    ul.navbar-nav.ms-md-auto
                        each author in strings.app.authors
                            li.nav-item
                                a.nav-link(target='_blank' rel='noopener' href=author.website)
                                    i.fab.fa-instagram
                                    | &nbsp; #{author.name}
        .content(style='margin-top: 100px;')
            .container
                .row
                    .col-md-12
                        .card
                            .card-body
                                h4.card-header Impostazioni
                                form#form-impostazioni.form-horizontal
                                    fieldset.form-group
                                        legend.mt-4(style='font-size: 100%;') Generale
                                        .form-check
                                            input#intersezioneConGliAssi.form-check-input(type='checkbox')
                                            label.form-check-label(for='intersezioneConGliAssi') Intersezione con gli assi
                                    fieldset.form-group
                                        legend.mt-4(style='font-size: 100%;') Studio funzione
                                        .form-check
                                            input#tipologiaFunzione.form-check-input(type='checkbox')
                                            label.form-check-label(for='tipologiaFunzione') Tipologia funzione
                                        .form-check
                                            input#tangenteAdUnaCurva.form-check-input(type='checkbox')
                                            label.form-check-label(for='tangenteAdUnaCurva') Tangente ad una curva
                                        //- .form-check
                                        //-     input#condizioneDiEsistenzaFunzione.form-check-input(type='checkbox')
                                        //-     label.form-check-label(for='condizioneDiEsistenzaFunzione') Condizione di esistenza
                                        //- .form-check
                                        //-     input#positivitaENegativitaFunzione.form-check-input(type='checkbox')
                                        //-     label.form-check-label(for='positivitaENegativitaFunzione') Positivit&agrave; e negativit&agrave;
                                        //- .form-check
                                        //-     input#massimiEMinimiFunzione.form-check-input(type='checkbox')
                                        //-     label.form-check-label(for='massimiEMinimiFunzione') Massimi e minimi
                                        //- .form-check
                                        //-     input#pariEDispariFunzione.form-check-input(type='checkbox')
                                        //-     label.form-check-label(for='pariEDispariFunzione') Pari e dispari
                                    //- fieldset.form-group
                                    //-     legend.mt-4(style='font-size: 100%;') Parabola
                                    //-     .form-check
                                    //-         input#verticeParabola.form-check-input(type='checkbox')
                                    //-         label.form-check-label(for='verticeParabola') Vertice
                                    //-     .form-check
                                    //-         input#fuocoParabola.form-check-input(type='checkbox')
                                    //-         label.form-check-label(for='fuocoParabola') Fuoco
                                    //-     .form-check
                                    //-         input#direttriceParabola.form-check-input(type='checkbox')
                                    //-         label.form-check-label(for='direttriceParabola') Direttrice
                                    //-     .form-check
                                    //-         input#asseDiSimmetriaParabola.form-check-input(type='checkbox')
                                    //-         label.form-check-label(for='asseDiSimmetriaParabola') Asse di simmetria
                                    //- fieldset.form-group
                                    //-   legend.mt-4(style='font-size: 100%;') Circonferenza
                                    //-   .form-check
                                    //-     input#centroCirconferenza.form-check-input(type='checkbox')
                                    //-     label.form-check-label(for='centroCirconferenza') Centro
                                    //-   .form-check
                                    //-     input#raggioCirconferenza.form-check-input(type='checkbox')
                                    //-     label.form-check-label(for='raggioCirconferenza') Raggio
                                    //-   .form-check
                                    //-     input#diametroCirconferenza.form-check-input(type='checkbox')
                                    //-     label.form-check-label(for='diametroCirconferenza') Diametro
                                    //- fieldset.form-group
                                    //-     legend.mt-4(style='font-size: 100%;') Scomposizione
                                    //-     .form-check
                                    //-         input#utilizzaSempreRuffini.form-check-input(type='checkbox')
                                    //-         label.form-check-label(for='utilizzaSempreRuffini') Utilizza sempre Ruffini
                                    //- br
                                    .form-group
                                        button.btn.btn-primary(type='submit') Salva
            br
            br
    a#back-to-top.btn.btn-dark.btn-sm.back-to-top(href='#' role='button')
        i.fas.fa-chevron-up
    // Scripts
    script(src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js' integrity='sha512-894YE6QWD5I59HgZOGReFYm4dnWc1Qt5NtvYSaNcOP+u1T9qYdvdihz0PPSiiqn/+/3e7Jo4EaG7TubfWGUrMQ==' crossorigin='anonymous' onload='window.$ = window.jQuery = module.exports;')
    script(src='https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js' integrity='sha384-IQsoLXl5PILFhosVNubq5LC7Qb9DXgDA9i+tQ8Zj3iwWAwPtgFTxbJ8NT4GN1R8p' crossorigin='anonymous')
    script(src='https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.min.js' integrity='sha384-Atwg2Pkwv9vp0ygtn1JAojH0nYbwNJLPhwyoVbhoPwBhjQPR5VtM2+xf0Uwh9KtT' crossorigin='anonymous')
    script(src='https://unpkg.com/mathjs@9.3.2/lib/browser/math.js')
    script(src='https://cdn.plot.ly/plotly-1.35.2.min.js')
    script(src='https://polyfill.io/v3/polyfill.min.js?features=es6')
    script(src='https://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-AMS_HTML')
    script(src='https:scripts//stemkoski.github.io/MathBox/mathbox-bundle.js')
    include ./includes/scripts.pug
    script
        | let impostazioni = require('../../dist/modules/impostazioni/index.js');